<div class="container">
  <%= form_for [@city, @question, @answer], :html => {:role => "form"} do |f| %>
    <div class="form-group">
      <%= f.text_area :body, :placeholder => "Enter your answer here", :cols => "80", :rows => "5" %><br>
    </div>
    <%= f.submit 'Submit', :class => "btn btn-success"  %>
<% end %>
</div>